<!-- NAVIGATION -->
<div style="height: 10px;"></div>
<nav class="navbar navbar-light fixed-top" style="height: 10%; background: #f0f0f0;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><i class="fa-solid fa-hotel"></i> Furama</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-phone"></i> Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user"></i> Recruitment
            </a>
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
    <a class="navbar-brand editLogo" href="#"><img src="https://www.furama.com/images/LOGOFurama_4C_Normal.png"
        style="width: 200px !important; height: 40px !important;margin-left: 150px;">
    </a>
    <div>
      <button style="margin-right: 5px;" class="navbar-toggler" type="button" data-toggle="modal" data-target="#signin">
        <a class="navbar-brand" href="#">Sign In</a>
      </button>
      <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#signup">
        <a class="navbar-brand" href="#">Sign Up</a>
      </button>
    </div>
  </div>
</nav>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
      aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner editimg">
    <div class="carousel-item active">
      <img src="https://cdn1.ivivu.com/iVivu/2022/03/03/18/53114-furama-resort-da-nang-11-800x450.jpg"
        class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://www.tapchikientruc.com.vn/wp-content/uploads/2021/01/21A01032-3.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://r.bstatic.com/images/hotel/max1024x768/623/62371531.jpg" class="d-block w-100">

    </div>
    <div class="carousel-item">
      <img src="https://luvill.asia/wp-content/uploads/2019/08/kien-truc-furama-resort-da-nang-1024x680.jpg"
        class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Modal Sign In -->
<div class="modal fade" id="signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form>
            <div class="form-group">
              <label>Email:</label>
              <input name="email" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input name="password" type="password" class="form-control">
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-info" type="submit">Submit</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Sign Up -->
<div class="modal fade" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form>
            <div class="form-group">
              <label>Email</label>
              <input name="email" type="password" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input name="password" type="password" class="form-control">
            </div>
            <div class="form-group">
              <label>Country</label>
              <select name="country" class="form-control">
                <option value="-1">Select Country</option>
                <option value="0">Viet Nam</option>
                <option value="1">US</option>
                <option value="2">Korean</option>
                <option value="3">Japan</option>
              </select>
            </div>
            <div class="form-group">
              <label>Age</label>
              <input type="number" class="form-control">
              <div class="form-group">
                <label>Gender</label>
                <div class="form-check">
                  <input type="radio" name="gender" value="male" class="form-check-input">
                  <label class="form-check-label">Male</label>
                </div>
                <div class="form-check">
                  <input type="radio" name="gender" value="female" class="form-check-input">
                  <label class="form-check-label">Female</label>
                </div>
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input type="text" name="phone" class="form-control">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>



<!-- Footer -->
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-6" style="padding-left: 200px;">
        <h3>Contact</h3>
        <p>Address: 103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</p>
        <p>Tel:84-236-3847 333/888 * Fax: 84-236-3847 666</p>
        <p>Email: <a href="reservation@furamavietnam.com">reservation@furamavietnam.com</a> * <a
            href="www.furamavietnam.com">www.furamavietnam.com</a></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3 style="margin-left: 100px;padding-left: 32px;">Follow Us</h3>
        <ul class="social-media">
          <li><a href="https://www.facebook.com/furamaresort/"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://www.youtube.com/user/furamaresortvietnam/featured"><i class="fab fa-youtube"></i></a>
          </li>
          <li><a href="https://www.instagram.com/furama_resort_danang/?hl=vi"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>Map</h3>
        <iframe style="height: 200px; width: 400px; border-radius: 5%;"
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7838.684254869503!2d106.70676642475235!3d10.785086936675276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1547181657956"></iframe>
      </div>
      <hr>
      <div class="text-center">
        <p>&copy; 2023. All rights reserved. Created by <a href="https://github.com">Nguyen Ngoc Trung Bao</a>.</p>
      </div>
    </div>
  </div>
</footer>