.container {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    grid-gap: 45px !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    width: 290px;
    height: 350px;
}

.card-body>a {
    color: black;
    border: solid 1px;
    text-decoration: none;
    font-weight: 700;
    font-size: small;
    padding: 10px 50px;
}

.card-body>a:hover {
    background-color: #af936c;
    border: 1px solid #af936c;
    color: #fff;
}